*{margin: 0;}
html, bady {width: 100%;}

.logo_form{height: 80px;background-color: #323d98;text-align: center;}
.logotext_form{color: #ffffff;font-family: 'Noto Sans KR', sans-serif;font-size: 2em;font-weight: 100;letter-spacing:
.1em;position: relative;top: 14px;}

.logotext_form a:link{text-decoration: none;color: white;}
.logotext_form a:visited{color: white;}
.logotext_form a:active{color: white;}
.logotext_form a:hover{color: white;}

.menu_from{height: 40px;background-color: #323d98;text-align: center;}
.menutext_from{display: inline-block;none;margin: 70px 70px 70px 20px;
  font-size: 1.1en;}

.menutext_from a:link{text-decoration: none;color: white;}
.menutext_from a:visited{color: white;}
.menutext_from a:active{color: white;}
.menutext_from a:hover{color: #3949c7;}

#pr{height: 800px;width: 100%;background-size: cover;background-attachment: fixed;overflow: hidden;}

.p1{background-image: url(../img/img_001.png);}
.p2{background-image: url(../img/img_002.png);}
.p3{background-image: url(../img/img_003.png);}


.posi{text-align: center;margin-top: 250px;}


.footer_form{height: 80px;background-color: #323d98;}
.footertext_form{color: #9b90ab;text-align: center;position: relative;top: 35%;text-transform: uppercase;}


.p01_top{background-image: url(../img/p01_top.png);height: 800px;background-size: cover;}
.po1_body{text-align: center;}
